

.background-light {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(254,205,76,1) 0%, rgba(232,60,136,1) 100%);
    color: #333;
}

.background-dark {
    min-height: 100vh;
    width: 100%;
    background-color: #121212;
    /* color: #f0f0f0; */
}

.main-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.experience-container-light {
  /* max-height: 750px; */
  max-width: 600px;
    width: 90%;
    max-width: 800px;
    text-align: left;
    background: rgba(255, 255, 255, 0.85);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}



.experience-container-dark {
  /* max-height: 750px; */
  max-width: 600px;
    width: 90%;
    max-width: 800px;
    text-align: left;
    background-color:rgb(68, 68, 68);
    color:whitesmoke;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

.section-title {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
}

.work-title-light, .responsibilities-title-light {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #444;
}

.work-title-dark, .responsibilities-title-dark {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: whitesmoke;
}

.internship-details-light {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 1rem;
    color: #666;
}
.internship-details-dark {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 1rem;
    color:whitesmoke;
}

.responsibilities-list {
    list-style: none;
    padding-left: 20px;
    
}

.responsibilities-list li {
    margin-bottom: 0.75rem;
    line-height: 1.5;
    font-size: 14px;
}

.admin-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
    margin-top: 1.5rem;
    padding: 2%;
    text-decoration: none;
}

.admin-button-light {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-button-dark{
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-button-light:hover {
    background-color: #e64a19;
}

.admin-button-dark:hover {
    color: white;
    border: 2px solid white;
    background-color:transparent;
}

.education-container-light {

    width: 90%;
    /* max-height: 650px; */
    max-width: 700px;
    text-align: left;
    background: rgba(255, 255, 255, 0.85);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
  }


  .education-container-dark {
    width: 90%;
    /* max-height: 650px; */
    max-width: 700px;
    background:rgb(68, 68, 68);;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
  }
  
  .education-title-light {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .education-title-dark {
    color: whitesmoke;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .card-light {
    max-height: 200px;
    max-width: 600px;
    color: black;
    background-color:lightgray;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-dark {
    max-height: 150px;
    max-width: 600px;
    color:white;
    background-color:rgb(126, 125, 125);
    /* border: 1px solid #ced4da; */
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .card h3 {
    margin: 0;
    font-size: 20px;
  }
  
  .card p {
    margin: 5px 0;
  }
  
  /* Container for the entire slider */
.certificate-list-container {
  height: 40vh; /* Adjust as needed for card height */
  width: 100vw;
  display: flex;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Hide any overflow to avoid cutting */
}

/* Each certificate card */
.certificate-list-item {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 90%; /* Use a percentage to adapt better within each slide */
  max-width: 400px; /* Optional max-width for better control */
  padding: 20px;
  margin: 0 15px; /* Adjust as needed */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: transform 0.2s;
}

/* Scale effect on hover */
.certificate-list-item:hover {
  transform: scale(1.05);
}

.certificate-img {
  width: 80%;
  max-height: 25vh; 
  object-fit: cover;
  border-radius: 4px;
}

.certificate-heading {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: #ffffff;
}

.certificate-description,
.certificate-techStack {
  font-size: 14px;
  margin: 5px 0;
  color: #e0e0e0;
  text-align: center;
}

.certificate-link {
  font-size: 12px;
  margin-top: 10px;
  color: #0b69ff;
  text-decoration: none;
  text-align: center;
}

.certificate-link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .main-info-container{
    display:flex ;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .experience-container-light {
    /* max-height: 700px; */
    max-width: 600px;
      width: 50%;
      max-width: 800px;
      text-align: left;
      background: rgba(255, 255, 255, 0.85);
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 1.5rem;
      margin-right: 5%;
      height: auto;
  }
  
  
  
  .experience-container-dark {
    /* max-height: 750px; */
    max-width: 600px;
      width: 50%;
      max-width: 800px;
      text-align: left;
      background-color:rgb(68, 68, 68);
      color:whitesmoke;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 1.5rem;
      height: auto;
  }
  
  .education-container-light {
height: auto;
    width: 50%;
    /* max-height: 650px; */
    max-width: 700px;
    text-align: left;
    background: rgba(255, 255, 255, 0.85);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
  }


  .education-container-dark {
    width: 50%;
    /* max-height: 650px; */
    max-width: 700px;
    background:rgb(68, 68, 68);;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    height:auto ;
  }
  .card-light {
    height: auto;
    /* height: auto; */
    color: black;
    background-color:lightgray;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-dark {
    height: auto;
    color:white;
    background-color:rgb(126, 125, 125);
    /* border: 1px solid #ced4da; */
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* Each certificate card */
.certificate-list-item {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 60%; /* Use a percentage to adapt better within each slide */
  max-width: 180px; /* Optional max-width for better control */
  padding: 20px;
  margin: 0 15px; /* Adjust as needed */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: transform 0.2s;
}
  
}

@media screen and (min-width: 1200px) {
  .main-info-container{
    display:flex ;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .experience-container-light {
    max-height: 700px;
    max-width: 600px;
      width: 50%;
      max-width: 800px;
      text-align: left;
      background: rgba(255, 255, 255, 0.85);
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 1.5rem;
      margin-right: 5%;
  }
  
  .card-light {
    height: 20vh;
    /* height: auto; */
    color: black;
    background-color:lightgray;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-dark {
    height: 20vh;
    color:white;
    background-color:rgb(126, 125, 125);
    /* border: 1px solid #ced4da; */
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .experience-container-dark {
    max-height: 700px;
    max-width: 600px;
      width: 50%;
      max-width: 800px;
      text-align: left;
      background-color:rgb(68, 68, 68);
      color:whitesmoke;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 1.5rem;
      margin-right: 5%;
  }
  
  .education-container-light {

    width: 50%;
    max-height: 650px;
    max-width: 700px;
    text-align: left;
    background: rgba(255, 255, 255, 0.85);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    height: auto;
  }


  .education-container-dark {
    width: 50%;
    max-height: 650px;
    max-width: 700px;
    text-align: left;
    background:rgb(68, 68, 68);;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    height: auto;
  }
  
}