@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.certificates-container {
  background-color: black;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Title Styling */
.section-title {
  font-size: 30px;
  font-family: "Bebas Neue", serif;
  letter-spacing: 5px;
  background-clip: padding-box;
  background: linear-gradient(
    45deg,
    rgba(255, 153, 0, 0.87),
    rgba(255, 0, 128, 0.8)
  );
  -webkit-background-clip: text;
  color: transparent;
  /* text-shadow: 3px 3px 5px rgba(255, 27, 122, 0.918); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

/* Slider Wrapper */
.slick-slider {
  max-width: 90%;
  margin: 0 auto;

}

/* Certificate Card */
.certificate-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  max-width: 250px;
  width: 80%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition:
    transform 0.3s,
    border 0.5s;
  border: 2px solid;
  border-image-source: linear-gradient(
    45deg,
    #ff7eb3,
    #7d5fff,
    #00d4ff,
    #ff9f00
  );
  border-image-slice: 1;
  margin: 15px auto;
}

/* Border Animation on Hover */
.certificate-list-item:hover {
  transform: scale(1.05);
  border-image-source: linear-gradient(
    270deg,
    #ff7eb3,
    #7d5fff,
    #00d4ff,
    #ff9f00
  );
  animation: borderAnimation 3s linear infinite;
}

@keyframes borderAnimation {
  0% {
    border-image-source: linear-gradient(
      0deg,
      #ff7eb3,
      #7d5fff,
      #00d4ff,
      #ff9f00
    );
  }
  25% {
    border-image-source: linear-gradient(
      90deg,
      #ff7eb3,
      #7d5fff,
      #00d4ff,
      #ff9f00
    );
  }
  50% {
    border-image-source: linear-gradient(
      180deg,
      #ff7eb3,
      #7d5fff,
      #00d4ff,
      #ff9f00
    );
  }
  75% {
    border-image-source: linear-gradient(
      270deg,
      #ff7eb3,
      #7d5fff,
      #00d4ff,
      #ff9f00
    );
  }
  100% {
    border-image-source: linear-gradient(
      360deg,
      #ff7eb3,
      #7d5fff,
      #00d4ff,
      #ff9f00
    );
  }
}

/* Certificate Content */
.certificate-heading {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: #ffffff;
}

.certificate-description,
.certificate-techStack {
  font-size: 14px;
  margin: 5px 0;
  color: #e0e0e0;
  text-align: center;
}

.certificate-link {
  font-size: 16px;
  margin-top: 10px;
  color: #0b69ff;
  text-decoration: none;
}

.certificate-link a{
  color: #0b69ff;
  text-decoration: none;
}

.certificate-link:hover {
  text-decoration: underline;
  transition-delay: 3s;
}


/* Error Message */
.error-heading {
  color: white;
  text-align: center;
  font-size: 18px;
}

/* Responsive Design */
@media screen and (min-width: 1200px) {
  .certificate-list-item {
    width: 50%;
    min-width: 400px;
  }
}
