@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prociono&display=swap');


/* Define the style for the active link */
.active-link-light {
  height: auto;
  border-bottom: 4px solid grey;
 
}

.active-link-dark {
  height: auto;
  border-bottom: 4px solid white;
 
}

.navbar {
  overflow: hidden;
  padding: 2% 0 2% 0;
  min-height: 3vh;
  /* border: 1px solid black; */
  min-width: 100vw;
  height:4vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 0px 2px 16px 0px rgb(165, 165, 165); */
  position: sticky;  
  top:0%;
  z-index: 1;
  margin-top: 0%;
}

.navbar-light{
    background-color:whitesmoke;
    box-shadow: 0px 2px 16px 0px rgb(165, 165, 165);
  }
  

.navbar-dark {
  /* background-color:rgb(68, 68, 68); */
  background-color:rgb(0, 0, 0);
}

.anchors-container-lg {
  display: none;
}

.anchors-container-sm {
  /* padding: 2%; */
  height: 25vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10%;
}

.nav-icon-bars-light {

  /* align-self: flex-end; */
  font-size: 24px;
  margin-left: 5%;
  margin-right: 5%;
}
.nav-icon-cross-light {
  align-self: flex-start;
  font-size: 24px;
  margin: 2%;
  order: 1;
  /* margin-right: 2%; */
}

.nav-icon-bars-dark {
  /* align-self: flex-end; */
  color: white;
  font-size: 24px;
  margin-left: 5%;
  margin-right: 5%;
}
.nav-icon-cross-dark {
  color: white;
  align-self: flex-start;
  font-size: 24px;
  margin: 2%;
  order: 1;
  /* margin-right: 2%; */
}

.theme-container-light {
  margin-left: 2%;
  width: 25%;
  /* margin: 0px; */
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.theme-container-dark {
  margin-left: 2%;
  color: white;
  width: 25%;
  /* margin: 0px; */
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-heading-light {
  font-family: "Londrina Sketch", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-right: 10vw;
  font-size: 28px;

}

.navbar-open-sm-light {
  height: 30vh;
  padding: 1%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: whitesmoke;
  /* box-shadow: 0px 1px 2px 0px white; */
  position: sticky;  
  top:0%;
  z-index: 1;
}

.main-heading-dark {
  font-family: "Londrina Sketch", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-right: 10vw;
  font-size: 28px;
  color: white;
}

.navbar-open-sm-dark {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: grey; */
  /* box-shadow: 0px 1px 15px 0px rgb(197, 197, 197); */
  position: sticky;  
  top:0%;
  z-index: 1;
  background-color:black;
}

.anchors-light {
  font-size: 18px;
  color: black;
  text-decoration: none;
  /* font-family: "Prociono", serif; */
  font-weight: 400;
  font-style: normal;
}

.hr-line-light {
    border: none;
  height: 0.5vh;
  width: 80%;
  background-color: black;
  margin-bottom: 3%;
}

.anchors-dark {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.hr-line-dark {
  border: none;
  height: 0.5vh;
  width: 80%;
  background-color: whitesmoke;
  margin-bottom: 3%;
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
    .navbar {
        height: 5vh;
        position: sticky;
        top:0%;
        padding:0% 0% 1% 0%;
      }
      .anchors-container-lg {
        display: flex;
        justify-content: space-evenly;
        width: 50vw;
        margin-right: 1%;
      }
      .anchors-light {
        font-size: 18px;
        color: black;
        text-decoration: none;
      }
      .anchors-dark {
        font-size: 14px;
        color:white;
        text-decoration: none;
      }
      .main-heading-light {
        display: none;
      }
      .main-heading-dark {
        display: none;
      }
      .anchors-container-sm {
        display: none;
      }
    
      .nav-icon-bars-dark {
        display: none;
      }
    
      .nav-icon-bars-light {
        display: none;
      }
      .theme-container-light {
        width: 25%;
        margin-left: 1%;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
      
      .theme-container-dark {
        color: white;
        width: 25%;
        margin-left: 1%;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
}

@media screen and (min-width: 1201px) {
  .navbar {
    height: 3vh;
    padding: 1% 0% 1% 0%;
  }
  .anchors-container-lg {
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
    margin-right: 5%;
  }

  .anchors-light {
    font-size: 18px;
    color: black;
    text-decoration: none;
  }
  .anchors-dark {
    font-size: 18px;
    color:white;
    text-decoration: none;
  }
  .main-heading-light {
    display: none;
  }
  .main-heading-dark {
    display: none;
  }
  .anchors-container-sm {
    display: none;
  }

  .nav-icon-bars-dark {
    display: none;
  }

  .nav-icon-bars-light {
    display: none;
  }
  .theme-container-light {
    width: 25%;
    margin-left: 1%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .theme-container-dark {
    color: white;
    width: 25%;
    margin-left: 1%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
